* {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-sizing: border-box;
}

button {
  padding: 4px 8px;
  border-radius: 2px;
}

button:hover {
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.calculator {
  border: 1px solid black;
  border-radius: 10px;
  background-color: gray;
  box-shadow: 5px 5px 5px rgb(46, 46, 46);
  padding: 20px;
  height: 460px;
  width: 300px;
  margin-top: 30px;
}

.calculator__display {
  font-family: "Orbitron", Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgb(119,140,119);
  border-radius: 5px;
  box-shadow: 2px 2px 2px 2px  ;
  font-size: 32px;
  padding: 12px;
  text-align: end;
  height: 64px;
}

.calculator__buttons {
  display: flex;
  gap: 4px;
  margin-top: 20px;
}

.calculator__buttons__numbers {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  gap: 4px;
  justify-content: center;
}

.calculator__buttons__numbers button {
  flex: 1 0 55px;
  background-color: rgb(61, 60, 60);
  color: white;
}

.calculator__buttons__numbers button:hover {
  background-color: rgb(22, 22, 22);
}

.calculator__buttons__operators {
  display: flex;
  flex-direction: column;
  gap: 4px;
  text-align: center;
}

.calculator__buttons__operators button {
  flex: 0 0 45px;
  background-color: rgb(61, 60, 60);
  color: white;
}

.calculator__buttons__operators button:hover {
  background-color: rgb(22, 22, 22);
}

.calculator__delete, .calculator__clear {
  background-color: rgb(219, 0, 0) !important;
  color: white !important;
}

.calculator__delete:hover, .calculator__clear:hover {
  background-color: rgb(156, 0, 0) !important;
}

.calculator__button__plus {
  flex-basis: 80px !important;
}